@model DiscountPoolBackbone.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreAllPhotoFromFolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreAllPhotoFromFolder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikedClients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikedClients)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
