@model DiscountPoolBackbone.Models.TOP.TopItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TopItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PopularRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PopularRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShorDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShorDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmallPhotoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmallPhotoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainPhotoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainPhotoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotosIds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotosIds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikedUsersIds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikedUsersIds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VipExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VipExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstagramUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstagramUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstagramLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstagramLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacebookUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacebookUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacebookLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacebookLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VkUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VkUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VkLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VkLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinterestUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinterestUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinterestLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinterestLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediumUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediumUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediumLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediumLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmazonUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmazonUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmazonLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmazonLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmazonPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmazonPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EbayUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EbayUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EbayLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EbayLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EbayPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EbayPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvitoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvitoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvitoLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvitoLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvitoPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvitoPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OlxUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OlxUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OlxLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OlxLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OlxPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OlxPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KufarUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KufarUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KufarLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KufarLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KufarPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KufarPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlinerUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlinerUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlinerLikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlinerLikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlinerPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlinerPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vek21Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vek21Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vek21LikesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vek21LikesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vek21Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vek21Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdultContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdultContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
