@using DiscountPoolBackbone.Models
@model DiscountPoolBackbone.Helpers.Pagination.PaginatedTopModel
@addTagHelper *, FilterSortPagingApp
@{
    ViewData["Title"] = "ТОП АРТ БЕЛАРУСЬ";
}

<main class="mt-5">
    <div class="container-fluid">
        <section id="grid">
            <h2 class="mb-5 font-weight-bold text-center">Общий топ беларуского искусства</h2>
            <div class="row">
                <div class="card-group">
                    @foreach (var item in Model.TopItems)
                    {
                        <div class="card">
                            @{
                                var imgUrl = (item.MainPhotoId != null) ? item.MainPhotoId.ToString() : @Url.Content("~/Static/Images/Defaults/404item.png") ; // "~/StaticFiles/Images/Defaults/404item.png";
                                var shortDescription = item.Description.Length > 50 ? item.Description.Substring(0, 47) + "..." : item.Description;
                            }

                            <img src="@Url.Content("~/Static/Images/Defaults/404item.png")" class="card-img-top" alt="card-photo">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@shortDescription</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    }
                </div>
                <page-link page-model="Model.PageViewModel" page-action="Index2"></page-link>
            </div>
        </section>
    </div>
</main>